<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Our Class</li>
			<li class=<%= 'active' if params[:action] == 'show'%>><%= link_to "Description", cla_path(@cla)%></li>
			<li class=<%= 'active' if params[:action] == 'photos'%>><%= link_to "Photos", photos_path(@cla)%></li>

			<li class="nav-header">Courses We Take</li>
			<% @courses.each do |course| %>
				<li><%= link_to course.name, course_path(course)%></li>
			<% end %>
		</ul>
	</div>
</div>

<div class="span6 offset1 panel panel-success">
	<div class="panel-heading">
	<h3 class="panel-title">Class: <%= full_class_name(@cla)%></h3>
	<% if signed_in? %>
		<%= link_to "New Lesson", new_lesson_path(cla_id: @cla.id)%>
	<% end %>
	</div>
	<div class="panel-body">

	<table>
		<tr>
			<th>Course</th>
			<th>Schedule</th>
			<% if signed_in? %>
				<th></th>
			<% end %>
		</tr>

		<% @lessons.each do |lesson| %>
			<tr>
				<td><%= Course.find(lesson.course_id).name %></td>
				<td><%= lesson.time_slot %></td>
				<% if signed_in? %>
					<td><%= link_to "Edit", edit_lesson_path(lesson)%></td>
				<% end %>
			</tr>
		<% end %>
	</table>
	</div>
</div>

