<%= render 'structural_links'%>

<div class="span9 content">
	<%= render 'layouts/breadcrumb'%>
	
	<h1><%= full_class_name(@cla)%></h1>
	<h2>Description</h2>
	<p><%= @cla.description %></p>

	<h2>Timetable</h2>

	<table class="table">
		<tr>
			<th>Day</th>
			<th>Schedule</th>
			<th>Course</th>
			<th>Teacher</th>
			
			<% if signed_in? %>
				<th></th>
			<% end %>
		</tr>

		<% ordered_lessons = @lessons.sort_by {|lesson| [lesson.weekday, lesson.time_slot]} %>
		<% ordered_lessons.each do |lesson| %>
			<tr>
				<td><%= lesson.weekday%></td>
				<td><%= lesson.time_slot %></td>
				<% course = Course.find(lesson.course_id)%>
				<td><%= link_to course.name, course_path(course) %></td>
				<td><%= link_to Teacher.find(course.teacher_id).name, teacher_path(course.teacher_id)%></td>
				
				<% if signed_in? %>
					<td><%= link_to "Edit", edit_lesson_path(lesson)%></td>
				<% end %>
			</tr>
		<% end %>
	</table>

	<% if signed_in? %>
			<%= link_to "New Lesson", new_lesson_path(cla_id: @cla.id)%>
		<% end %>


</div>

