<div class="span3 well sidebar">

	<ul class="nav nav-list">
		<li class="nav-header">Our Class</li>
		<li class=<%= 'active' if params[:action] == 'show'%>><%= link_to "Description", class_path(@cla)%></li>
		<li class=<%= 'active' if params[:action] == 'photos'%>><%= link_to "Photos", photos_path(@cla)%></li>

		<li class="nav-header">Courses We Take</li>
		<% @courses.each do |course| %>
			<li><%= link_to course.name, course_path(course)%></li>
		<% end %>
	</ul>

</div>

<div class="span9 content">
	<%= render 'layouts/breadcrumb'%>
	
	<h1><%= full_class_name(@cla)%></h1>

	<h2>Timetable</h2>

	<table class="table">
		<tr>
			<th>Day</th>
			<th>Schedule</th>
			<th>Course</th>
			
			<% if signed_in? %>
				<th></th>
			<% end %>
		</tr>

		<% ordered_lessons = @lessons.sort_by {|lesson| [lesson.weekday, lesson.time_slot]} %>
		<% ordered_lessons.each do |lesson| %>
			<tr>
				<td><%= lesson.weekday%></td>
				<td><%= lesson.time_slot %></td>
				<td><%= Course.find(lesson.course_id).name %></td>
				
				<% if signed_in? %>
					<td><%= link_to "Edit", edit_lesson_path(lesson)%></td>
				<% end %>
			</tr>
		<% end %>
	</table>

	<% if signed_in? %>
			<%= link_to "New Lesson", new_lesson_path(cla_id: @cla.id)%>
		<% end %>

	<%= link_to "Back to all classes", classes_path%>
</div>

