<div class="span3 well sidebar">

		<ul class="nav nav-list">
			<li class="nav-header">Our Class</li>
			<li class=<%= 'active' if params[:action] == 'show'%>><%= link_to "Description", cla_path(@cla)%></li>
			<li class=<%= 'active' if params[:action] == 'photos'%>><%= link_to "Photos", photos_path(@cla)%></li>

			<li class="nav-header">Courses We Take</li>
			<% @courses.each do |course| %>
				<li><%= link_to course.name, course_path(course)%></li>
			<% end %>
		</ul>

</div>

<div class="span9">
	<h1><%= full_class_name(@cla)%></h1>

	<div class="panel panel-default">
		<div class="panel-heading">
		<h3 class="panel-title">Time Table</h3>
		
		</div>
		<div class="panel-body">

		<table>
			<tr>
				<th>Course</th>
				<th>Schedule</th>
				<% if signed_in? %>
					<th></th>
				<% end %>
			</tr>

			<% @lessons.each do |lesson| %>
				<tr>
					<td><%= Course.find(lesson.course_id).name %></td>
					<td><%= lesson.time_slot %></td>
					<% if signed_in? %>
						<td><%= link_to "Edit", edit_lesson_path(lesson)%></td>
					<% end %>
				</tr>
			<% end %>
		</table>
		</div>
	</div>
	<% if signed_in? %>
			<%= link_to "New Lesson", new_lesson_path(cla_id: @cla.id)%>
		<% end %>

	<%= link_to "Back to all classes", clas_path%>
</div>

