<div class="span3 sidebar">
	<ul class="nav nav-list">
		<li class="nav-header">Departments</li>
		<% Teacher::DEPARTMENTS.each do |dept|%>
			<% dept4url = format4url(dept) %>
			<li class=<%= 'active' if params[:department] == dept4url%>><%= link_to dept, "/teachers_depts/#{dept4url}"%></li>
		<% end %>
	</ul>
</div>

<div class="span9 offset1">
	<nav>
		<ol class="breadcrumb">
		  <li><%= link_to "Home", root_path%></li>
		  <li><%= link_to "Departments", '/teachers_depts' %></li>
		  <li class="active"><%= format4display(@department)%></li>
		</ol>
    </nav>
    
	<h1><%=format4display(@department)%></h1>
	
	<ul>
		<% @teachers.each do |teacher| %>
	  	<li><%= link_to teacher.name, teacher_path(teacher.id)%></li>
		<% end %>
	</ul>
	
</div>