<!-- if the page is refreshed...oops-->
<% unless request.referrer.nil? %>
	<% provide( :prev_page, get_path(request.referrer) )%>

	<ol class="breadcrumb">
	  <li><%= link_to "Home", root_path%></li>

	  <% if yield(:prev_page) == 'teachers'%>
	  	<li><%= link_to "All Teachers", teachers_path %></li>
	  <% else %>
	  	<li><%= link_to "Departments", departments_path %></li>
	  	<li><%= link_to format4display(@teacher.department), "/departments/#{@teacher.department}" %></li>
	  <% end %>

	  <li class="active"><%= @teacher.name%></li>
	</ol>
<% end %>


<h1><%= @teacher.name%></h1>
<h2><%= @teacher.department%></h2>

