<% set_prev_page(request.referrer) %>

<%= render "structural_links", teacher: @teacher%>

<div class="span9 content">

	<%= render 'teachers/breadcrumb'%>


	<h1><%= @teacher.name%></h1>
	  
	  
		<p>Department: <%= @teacher.department%></p>
		<p>Office: <%= @teacher.office%></p>
		<p>Telephone: <%= @teacher.telephone%></p>
		<p>Email: <%= @teacher.email%></p>
		
		<h2>Courses Related</h2>
		<% @teacher.courses.each do |course|%>
			<p><%= link_to course.name, course_path(course)%></p>
		<% end %>

		<% if signed_in? %>
			<%= link_to "Edit", edit_teacher_path(@teacher) %>
		<% end %>
	  
</div>