<% set_prev_page(request.referrer) %>

<%= render "structural_links", teacher: @teacher%>

<div class="span9 content">

	<%= render 'layouts/breadcrumb'%>

	<h1><%= @teacher.name%></h1>
	  
	  
		<p>Department: <%= @teacher.department%></p>
		<p>Office: <%= @teacher.office%></p>
		<p>Telephone: <%= @teacher.telephone%></p>
		<p>Email: <%= @teacher.email%></p>
		
	<button type="button" class="btn btn-default" id="courses_related">
		<%= link_to "Courses related", courses_related_path(@teacher)%></li>
	</button>	

		<% if signed_in? %>
			<%= link_to "Edit", edit_teacher_path(@teacher) %>
		<% end %>
	  
</div>