<div class="span3 sidebar">
	<ul class="nav nav-list">
		<li class="nav-header">Teacher</li>
		<li class=<%= 'active' if params[:action] == 'show'%>><%= link_to "Information", teachers_path%></li>
		<li class=<%= 'active' if params[:action] == 'timetable'%>><%= link_to "Timetable", "/teachers/show/#{@teacher.id}/timetable"%></li>
	</ul>
</div>

<!-- if the page is refreshed...oops-->
<% unless request.referrer.nil? %>
	<ol class="breadcrumb">
	  <li><%= link_to "Home", root_path%></li>

	  <% if get_path(request.referrer) == 'teachers'%>
	  	<li><%= link_to "All Teachers", teachers_path %></li>
	  <% else %>
	  	<li><%= link_to "Departments", '/teachers_depts' %></li>
	  	<li><%= link_to format4display(@teacher.department), "/teachers_depts/#{@teacher.department}" %></li>
	  <% end %>

	  <li class="active"><%= @teacher.name%></li>
	</ol>
<% end %>

<div class="span9">
	<p><%= @teacher.name%></p>
	<p><%= @teacher.department%></p>
	<p><%= @teacher.office%></p>
	<p><%= @teacher.telephone%></p>
	<p><%= @teacher.email%></p>
	<br>
	<% @teacher.courses.each do |course|%>
		<p><%= link_to course.name, course_path(course)%></p>
	<% end %>
	<%= link_to "Edit", edit_teacher_path(@teacher) %>
</div>
