 <%= render "structural_links", teacher: @teacher %>

<div class="span9 content">
	<%= render 'layouts/breadcrumb'%>

	<h1>Time Table</h1>
	<table class="table">
		<tr>
			<th>Course</th>
			<th>Schedule</th>
			<th>Class</th>
		</tr>

		<% @teacher.courses.each do |course|%>
			<% course.lessons.each do |lesson|%>
				<tr>
					<td><%= course.name%></td>
					<td><%= lesson.time_slot%></td>
					<td><%= full_class_name(Cla.find(lesson.cla_id))%></td>
				</tr>
			<% end %>
		<% end %>
	</table>

</div>
