<% set_prev_page(request.referrer) %>

<%= render 'structural_links', course: @course%>

<div class="span9 content">

	<%= render 'layouts/breadcrumb'%>
  
    <h1><%= @course.name%></h1>
  	
  	<% teacher = Teacher.find(@course.teacher_id) %>

	<p><b>Teacher:</b> <%= link_to teacher.name, teacher_path(teacher)%></p>

	<p><b>Department:</b> <%= @course.department%></p>

	<p><b>Grade:</b> Senior <%= @course.grade%></p>

	<p><b>Program:</b> <%= @course.program%></p>

	<% if signed_in? %>
		<%= button_to('Edit', edit_course_path(@course), :class => 'btn btn-sm btn-primary', :method => 'get')  %>
	<% end %>

	<br>
	<% if get_prev_path(1) == 'courses_related' %>
		<%= link_to "<< Back to #{teacher.name}'s Related Courses", :back%>

	<% elsif get_prev_path(2) == 'clas' %>
		<% cla = Cla.find( get_prev_path(1) )%>
		<% cla_name = full_class_name(cla.id)%>
		<%= link_to "<< Back to #{cla_name}", :back%>
	<% end %>
	
</div>