<% set_prev_page(request.referrer) %>

<%= render 'structural_links', course: @course%>

<div class="span9 content">

	<%= render 'courses/breadcrumb'%>
  
    <h1>Course Name: <%= @course.name%></h3>
  
	<p>Program: <%= @course.program%></p>

	<p>Department: <%= @course.department%></p>

	<p>Grade: Senior <%= @course.grade%></p>

	<p>Teacher: <%= link_to Teacher.find(@course.teacher_id).name, teacher_path(@course.teacher_id)%></p>

	<% if signed_in? %>
		<%= button_to('Edit', edit_course_path(@course), :class => 'btn btn-sm btn-primary')  %>
	<% end %>
</div>